*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: #e2e5de;
}

header{
  background-color: white;
}

.cont{
  display: inline-flex;
  margin-top: 10px;
  width: 100%;
}

h1{
  margin-top: 100px;
  text-align: center;
}

.logo{
  width: 50px;
  height: 30px;
  margin-left: 20px;
}

.navlinks ul{
  display: inline-flex;
  list-style: none;
  margin-top: 10px;
}

.navlinks ul li{
  margin-left: 50px;
}

.navlinks ul li a{
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: bold;
}

.navlinks ul li a:hover{
  background-color: grey;
  color: white;
  border-radius: 5px;
}

.about-sec{
  margin-top: 100px;
  margin-left: 30px;
}

.aboutsec{
  width: 40%;
  padding: 5px;
  font-size: 20px;
  word-spacing: 0.1em;
}

.ding{
  width: 300px;
  height: 500px;
  float: right;
  margin-top: 100px;
  margin-right: 100px;
}

.about{
  float: right;
  margin-right: 100px;
  height: 300px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
}

.contact-us{
  margin-left: 30px;
  margin-top: 100px;
  padding: 5px;
  font-size: 20px;
  word-spacing: 0.1em;
  width: 40%;
}

.contact{
  font-weight: bold;
  text-align: center;
}

.container{
  margin-left: 50px;
}

.container a{
  text-decoration: none;
}

.fab{
  margin-top: 10px;
  margin-left: 10px;
}

.iframe{
  margin: 30px;
}

footer{
  background-color: white;
  color: black;
  margin-top: 50px;
  border: outset white;
  padding: 70px, 0px;
  text-align: center;
}


@media screen and (max-width: 800px) {
  .navlinks ul{
    display: inline-flex;
    list-style: none;
    margin-top: 10px;
    margin-left: 20px;
  }

  .navlinks ul li{
    margin-left: 20px;
  }

  header{
    background-color: white;
  }

  .navlinks ul li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: bold;
  }

  h1{
    margin-top: 50px;
    text-align: center;
  }

  .about-sec{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
  }

  .aboutsec{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    word-spacing: 0.1em;
  }

  .ding{
    float: none;
    margin-left: 50px;
    height: 300px;
    margin-bottom: 0px;
    margin-top: 50px;
  }

  .about{
    float: none;
    margin-left: 50px;
    height: 300px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    margin-bottom: 0px;
    margin-top: 50px;
  }

  .contact-us{
    margin-left: 30px;
    margin-top: 50px;
    padding: 5px;
    font-size: 20px;
    word-spacing: 0.1em;
    width: 90%;
  }

  .contact{
    font-weight: bold;
    text-align: center;
  }

  .container{
    margin-left: 50px;
  }

  .container a{
    text-decoration: none;
  }

  .fab{
    margin-top: 10px;
    margin-left: 10px;
  }

  .iframe{
    margin: 30px;
  }

  footer{
    background-color: white;
    color: black;
    margin-top: 50px;
    border: outset white;
    padding: 70px, 0px;
    text-align: center;
  }

}
